.testimonial h1{
    font-weight: bold;
}
.testimonial{
    padding: 50px;
    margin: 100px;
    width:500px;
    max-width:500px;
    background-color: #2196f3;
}
.outline h1{
font-weight:bold;    

}
.outline{
    padding:50px;
    border:3px solid #000;
    background-color: #2196f3;
    outline:10px dotted green;
    outline-style:solied;

}
.text_formatting H1{
    font-weight: bold;
    text-shadow:1px 2px red;
}
.text_formatting{
    padding:30px;
    background-color: blue;
    color:#fff;
    text-align:justify;
    text-decoration: underline;
    text-transform: capitalize;
    /* text-transform: uppercase; */
    /* text-indent: 50px; */
    letter-spacing:3px;
    line-height:1.8 ;
    direction: rtl; 
}
ol{
    background: green;
    padding:50PX;
    list-style-position: inside;
}
ol li{
    background:red;
    padding:5px;
    margin-left:30px

}
table{
    border-collapse:collapse;
    width:100%;
}
table{
    border:1px sollid #fff
}
th {
font-size: 20px;
padding:15px;
background-color: blue;
}
td{
    padding:15px;
}
tr:hover{
    background-color: black;
}
tr:nth-child(even){
    background-color: red;
}
ul li a{
    color: blue;
}
li{
    margin-right: 30px;
    display:inline
}
.hidden{
    /* display:none; */
    visibility: hidden;
}
.static{
    position:static;
    border: 3px solid green;
}
.relative{
    position: relative;
    left:50px;
    border:3px solid green
}
.fixed{
     position:fixed;
     bottom:0;
     left:0;
     width:100%;
     text-align:center;
     padding:10px;
     background: green;
     border:3px solid green
}
.relatives{
    left:40px;
    width:400px;
    height: 400px;
    position: relative;
    border:3px solid green
}
.absolute{
    position:absolute;
    top:80px;
    
    border:3px solid green
}