@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #EA2027;
}
#container{
display: grid;
grid-template-columns: repeat(auto-fill,200px);
gap: 24px;
padding: 24px;
}
 .sticky{
    height: 200px;
    padding: 16px;
    border: none;
    outline: none;
    resize: none;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: rgba(60,64,67,0.3) 0px 1px 2px 0px,rgba(60,64,67,0.15) 0px 1px 3px 1px;
 }
 .btn-add{
    height: 200px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 32px;
    background-color: #c0392b;
    cursor: pointer;
 }
 .btn-add:hover{
    background-color: gray;
    border-radius: 5px;

 }